.comments {
    padding: 15px;

    display: grid;
    grid-template-areas:
        "u"
        "d";

    /* grid-template-rows: 60px 1fr 1fr; */
    /* grid-template-columns: 4fr 7fr 4fr; */
    grid-gap: 10px;
}

.comment {
    grid-area: u;
    margin: 0;
}

.createComment {
    grid-area: d;

    display: grid;
    grid-template-areas:
        "l r";

    padding-top: 10px;
}

.textArea {
    grid-area: l;
    padding-left: 15%;
}

.arrow {
    grid-area: r;
}

.arrow img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}