.comments {
    padding: 15px;

    display: grid;
    grid-template-areas:
        "u"
        "d";

    /* grid-template-rows: 60px 1fr 1fr; */
    /* grid-template-columns: 4fr 7fr 4fr; */
    grid-gap: 10px;
}

.comment {
    grid-area: u;
    margin: 0;
}

.hl {
    border: 1px solid grey;
    /* margin: 5%; */
}

.createComment {
    /* grid-area: d; */
    padding-top: 5%;

    display: flex;
    /* grid-template-areas:
        "l r"; */

    /* padding-top: 10px; */
}

.textArea textarea {
    /* grid-area: l; */
    flex: 1;
    /* padding-left: 15%; */

    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 0.3s ease-in-out;
}

.textArea textarea:hover {
    border-color: #555;
}

.arrow {
    flex: 2;
    /* padding-left: 30%; */
    /* grid-area: r; */
} 

.arrow img {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}