.createPost {
    display: flex;
    margin-left: 300px;
    width: 600px;
}

.postName input {
    /* grid-area: l; */
    flex: 1;
    /* padding-left: 15%; */

    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 0.3s ease-in-out;
}

.postName input:hover {
    border-color: #555;
}

.postContent textarea {
    /* grid-area: l; */
    flex: 1;
    /* padding-left: 15%; */

    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 0.3s ease-in-out;
}

.postContent textarea:hover {
    border-color: #555;
}

.hz li {
    list-style-type: none;
}

.submit {

}