.header {
    grid-area: h;
    background-color: white;
    border-radius: 15px;

    display: grid;

    grid-template-areas:
    "i i i";
}

.header img {
    width: 45px;
    padding: 2%;
    margin-left: 40%;
    grid-area: i;
}

.header .vkImg img {
    margin-left: 5px;
}