.comment {
    display: grid;

    grid-template-areas:
    "l r";

    padding-top: 10px;
}

.commentatorImg {
    grid-area: l;
}

.commentatorImg img {
    border-radius: 50%;
}

.commentatorText {
    grid-area: r;
    margin: 5px;
    padding-left: 5%;
    /* border: 1px solid grey; */
}