    <div class='title'>Example1</div>
    <div class='content'>

         Для доставки сообщений вместо идентификаторов пользователей SimpleX имеет идентификаторы очередей сообщений,
            отдельные для каждого из контактов. В текущей версии приложения каждая очередь используется до тех пор, пока
            контакт не будет удален или пока адрес получения сообщений не будет изменен пользователем вручную. Позже
            команда проекта планирует автоматизировать этот процесс, а также добавить ротацию очередей в клиентский
            протокол, чтобы даже разговоры не имели долгосрочных идентификаторов, видимых в сети. Такая конструкция
            предотвращает утечку метаданных пользователей на уровне приложения.

            Вы, как пользователь мессенджера, можете самостоятельно определить, какой сервер(ы) использовать для
            получения сообщений, а ваши контакты серверы, которые вы используете для отправки им сообщений. Это
            означает, что в каждом разговоре, будут использоваться два разных сервера по одному для каждого
            направления сообщений.
    </div>